<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <title>seeking.goodfortune.technology</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/static/css/paper.css">
        <link rel="stylesheet" href="/static/css/font.css">
        <link rel="stylesheet" href="/static/css/seeking.css">

        <script src="/static/js/jquery-1.12.0.min.js"></script>
        <script src="/static/js/dj-csrf.js"></script>
        <script src="/static/js/underscore-min.js"></script>
        <script src="/static/js/seeking.js"></script>
        <script type="text/template" id='fortune-template'>
            <div class='fortune'>
                <div class='container paper'>
                    <p><%= fortune %></p>
                    <div class='water'></div>
                    <div class='ripples'></div>
                </div>
            </div>
        </script>
    </head>
    <body>
    </body>
</html>