$water: #7EBECC;
$blue: rgb(48,60,147);

$ftn-blue: #91DFE8;
$ftn-dark-blue: #8BD8E1;

$red:#CC2524;
$font: 'tex_gyre_bonumregular';


@mixin transition($options...) {
    -webkit-transition: $options;
    -moz-transition: $options;
    -ms-transition: $options;
    -o-transition: $options;
    transition: $options;}

@mixin transform($trans){
    -webkit-transform: $trans;
    -moz-transform: $trans;
    -ms-transform: $trans;
    transform: $trans;
}

@mixin flexbox(){
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:flex;
}
/* flexbox specs */
@mixin direction($dir){
    -webkit-flex-direction:$dir;
    -ms-flex-direction:$dir;
    flex-direction:$dir;
}
@mixin justify($val){
    -webkit-justify-content:$val;
    -ms-flex-pack:$val;
    justify-content:$val;
}
@mixin align($val){
    -webkit-align-items:$val;
    -ms-flex-align:$val;
    align-items:$val;
}
@mixin order($val){
    -webkit-box-ordinal-group: $val;
    -moz-box-ordinal-group: $val;
    -ms-flex-order: $val;
    -webkit-order: $val;
    order: $val;
}
@mixin shrink($val){
    -webkit-flex-shrink:$val;
    flex-shrink:$val;
}


// via: https://gist.github.com/jonathantneal/d0460e5c2d5d7f9bc5e6
// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff ttf svg) {
    $src: null;

    $extmods: (
        eot: "?",
        svg: "#" + str-replace($name, " ", "_")
    );

    $formats: (
        otf: "opentype",
        ttf: "truetype"
    );

    @each $ext in $exts {
        $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
    }

    @font-face {
        font-family: quote($name);
        font-style: $style;
        font-weight: $weight;
        src: $src;
    }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Below from https://gist.github.com/Integralist/3931680
 **/
@mixin keyframe ($animation_name) {
    @-webkit-keyframes #{$animation_name} {
        @content;
    }

    @-moz-keyframes #{$animation_name} {
        @content;
    }

    @-o-keyframes #{$animation_name} {
        @content;
    }

    @keyframes #{$animation_name} {
        @content;
    }
}

/*
    Example usage:
    @include animation(10s, 5s, changecolour)
 */
@mixin animation ($delay, $duration, $animation, $easing:linear, $repeat:true) {
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-timing-function: $easing;
    -webkit-animation-iteration-count: if($repeat, infinite, 1); /* this prevents the animation from restarting! */

    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-timing-function: $easing;
    -moz-animation-iteration-count: if($repeat, infinite, 1); /* this prevents the animation from restarting! */

    -o-animation-delay: $delay;
    -o-animation-duration: $duration;
    -o-animation-name: $animation;
    -o-animation-timing-function: $easing;
    -o-animation-iteration-count: if($repeat, infinite, 1); /* this prevents the animation from restarting! */

    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-timing-function: $easing;
    animation-iteration-count: if($repeat, infinite, 1); /* this prevents the animation from restarting! */
}

// @include keyframe(wave) {
//     0% { background:linear-gradient(45deg, $water -40%, rgba(255,255,255,0.4) 20%, $water 0%); }
//     100% { background:linear-gradient(45deg, $water 120%, rgba(255,255,255,0.4) 140%, $water 160%); }
// }
