
@mixin transition($options...) {
    -webkit-transition: $options;
    -moz-transition: $options;
    -ms-transition: $options;
    -o-transition: $options;
    transition: $options;}

@mixin transform($trans){
    -webkit-transform: $trans;
    -moz-transform: $trans;
    -ms-transform: $trans;
    transform: $trans;
}

@mixin flexbox(){
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:flex;
}
/* flexbox specs */
@mixin direction($dir){
    -webkit-flex-direction:$dir;
    -ms-flex-direction:$dir;
    flex-direction:$dir;
}
@mixin justify($val){
    -webkit-justify-content:$val;
    -ms-flex-pack:$val;
    justify-content:$val;
}
@mixin align($val){
    -webkit-align-items:$val;
    -ms-flex-align:$val;
    align-items:$val;
}
@mixin order($val){
    -webkit-box-ordinal-group: $val;
    -moz-box-ordinal-group: $val;
    -ms-flex-order: $val;
    -webkit-order: $val;
    order: $val;
}
@mixin shrink($val){
    -webkit-flex-shrink:$val;
    flex-shrink:$val;
}


// via: https://gist.github.com/jonathantneal/d0460e5c2d5d7f9bc5e6
// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff ttf svg) {
    $src: null;

    $extmods: (
        eot: "?",
        svg: "#" + str-replace($name, " ", "_")
    );

    $formats: (
        otf: "opentype",
        ttf: "truetype"
    );

    @each $ext in $exts {
        $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
    }

    @font-face {
        font-family: quote($name);
        font-style: $style;
        font-weight: $weight;
        src: $src;
    }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}